body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/prism.jpg");
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

#index-html {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

p {
    margin-bottom: 20px;
}

h1 {
    padding-bottom: 30px;
    font-size: 30px;
    border-bottom: 3px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.profileimage {
    width: 200px;
    float: left;
    margin-right: 25px;
}

#main-container {
    height: 60vh;
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    padding: 20px 30px 30px;
    border: 1px solid #dddddd;
}

#main-container-p {
    height: 100vh;
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    padding: 20px 30px 30px;
    border: 1px solid #dddddd;
}

#main-container-c {
    height: fit-content;
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    padding: 20px 30px 30px;
    border: 1px solid #dddddd;
}

 nav a {
     color: #999999;
     text-decoration: none;
     padding-left: 15px;
     margin-left: 15px;
     display: inline-block;
 }

 #main-header {
     background: #ffffff;
     overflow: auto;
     width: 100%;
     margin: 0px 0px 40px;
     position: relative;
 }

 nav {
     float: right;
     margin-top: 25px;
 }

 #logo {
     width: 270px;
     line-height: 90px;
     background: #4aaaa5;;
     color: #ffffff;
     text-align: center;
     font-size: 30px;
     float: left;
     text-decoration: none;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #footer-p {
     width: 100%;
     text-align: center;
     background-color: #666666;
     font-size: 12px;
     padding: 30px 0px 0px;
     position: absolute;
     border-top: 8px solid #4aaaa5;
     margin-top: 40px;
 }

 #footer {
    width: 100%;
    text-align: center;
    background-color: #666666;
    font-size: 12px;
    padding: 30px 0px 0px;
    position: absolute;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
    margin-top: 40px;
}

 .project img {
     width: 270px;
 }

 .project {
     position: relative;
     float: left;
     padding-right: 25px;
 }

 .project h3 {
     color: #4aaaa5;
     margin-top: -2px;
     margin-bottom: 30px;
 }

 a:hover {
     color: gray;
 }

 a:active {
     color: black;
 }

 input:focus {
     background-color: silver;
 }

 #contact-form li {
     margin-bottom: 20px;
 }

 textarea {
     width: 100%;
     height: 200px;
 }

 .name {
     width: 100%;
 }

 .email {
     width: 100%;
 }

 ul {
     list-style-type: none;
     margin-left: -40px;
 }